body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f9fc;
}
.map-container {
  height: 80vh;
  width: 100%;
}
.card {
  border-radius: 15px;
}
.btn-primary {
  background-color: #11b627;
  border: none;
}
.btn-outline-primary:hover {
  background-color: #15fd0d;
  color: #fff;
}