body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header, nav {
  background: #222;
  color: white;
  padding: 10px;
}

#menu a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

#map {
  width: 100%;
  height: 500px;
  margin-top: 20px;
}

form {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  border-radius: 8px;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: #ff4444;
  color: white;
  border: none;
  cursor: pointer;
}
